build
.idea
deployment
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.cache
*.log
*.DS_Store
~$*
obj/
Obj/
bin/
Bin/
*.idea.*	
src/web.ui/web.*
src/Elevate.Web/web.log*
src/Elevate.Web.Contractor/web.log*
*.orig
nhconfig.bin
rake.out
TestResult.xml
WebDeployPackage.log
web.log*
*~
