<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
  </configSections>
  <appSettings>
    <add key="connectionString" value="Data Source=localhost\sqlexpress;Initial Catalog=CQRS-Store;Integrated Security=SSPI;"/>
  </appSettings>
  <MsmqTransportConfig InputQueue="mvc2" ErrorQueue="mvc2-error" NumberOfWorkerThreads="1" MaxRetries="5"/>

  <!--<NHibernateSagaPersisterConfig>
    <NHibernateProperties>
      <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider"/>
      <add Key="connection.driver_class" Value="NHibernate.Driver.SqlClientDriver"/>
      <add Key="connection.connection_string" Value="Server=localhost;initial catalog=NServiceBus;Integrated Security=SSPI"/>
      <add Key="dialect" Value="NHibernate.Dialect.MsSql2000Dialect"/>
    </NHibernateProperties>
  </NHibernateSagaPersisterConfig>-->
  
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
