@using Web.Models
@model MessagesViewModel
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/App/Messages.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {

        var messages = new Messages;
        var messageTypes = @Html.Raw(Model.MessageTypes.ToJson());
        listView = new MessageListView({ collection: messages, messageTypes: messageTypes });

        messages.fetch({
            success: function (collection, response) {
                collection.each(function (message) {
                    console.log(message.get("Name"));
                });

                listView.render();
            },
            error: function (response) {
                alert('failed');
            }
        });
    });

</script>

<script id="item-template" type="text/x-jquery-tmpl">
    <div class="todo">
      <div class="display">          
        <input class="check" type="checkbox" data-id="${Item.Id}"/>
        <div class="todo-content">${Item.Name}</div>
        <div class="message-type-content">${Item.MessageTypeName}</div>
        <span class="todo-destroy" data-id="${Item.Id}"></span>
      </div>
      <div class="edit">
        <input class="todo-input" type="text" value="${Item.Name}" />
        <select id="Messages_${Idx}__MessageTypeId" name="Messages[${Idx}].MessageTypeId" class="message-type-input" >
            {{tmpl(MessageTypes, { selectedId: Item.MessageTypeId }) "#titleTemplate"}}                            
        </select>     
        <button class="save">Save</button>
      </div>
    </div>
</script>
<script id="titleTemplate" type="text/x-jquery-tmpl">
    <option {{if Id === $item.selectedId}}selected="selected"{{/if}} value="${Id}">${Name}</option>
</script>    

<div id="messages-app">

    <div class="title">
        <h1>Messages</h1>
    </div>

    <div class="content">
        <div id="message-form">
        </div>
        
        <div id="messages">
            <ul id="messages-list">
                <li>test</li>
                <li>test2</li>
            </ul>
            <div>
                <button id="add-new">Add</button>
                <button id="save">Save</button>
            </div>
        </div>
        
        <div id="message-stats">
        </div>
    </div>

</div>