<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSharpToIronRuby.Properties.Settings.DbConnectionString"
            connectionString="Data Source=|DataDirectory|\Db.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="CSharpToIronRuby.Properties.Settings.RulesConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\Rules.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>