build
NHConfig
output
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.TeamCity.user
*.resharper
*.suo
*.swp
*.cache
*.log
*.DS_Store
*.Report.html
*.Report.xml
~$*
obj/
Obj/
bin/
Bin/

services/solr/elevate/solr/*/data/index/
services/solr/elevate/solr/*/data/spellchecker/
services/solr/elevate-local/solr/*/data/index/
services/solr/elevate-local/solr/*/data/spellchecker/

services/jetty/jetty/webapps/elevate/solr/*/data/index/
services/jetty/jetty/webapps/elevate/solr/*/data/spellchecker/
services/jetty/jetty/webapps/elevate-local/solr/*/data/index/
services/jetty/jetty/webapps/elevate-local/solr/*/data/spellchecker/

*.idea.*	
src/web.ui/web.*
src/Elevate.Web/web.log*
src/Elevate.Web.Contractor/web.log*
src/Elevate.Wcf.Services/log.txt*
*.orig
nhconfig.bin
rake.out
TestResult.xml
WebDeployPackage.log
web.log*
log.txt*
*~
error-*.xml
package.log
timeStamp.dat
.idea/workspace.xml
.idea/tasks.xml